body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

nav {
    margin-bottom: 20px;
}

nav button {
    margin: 5px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

nav button:hover {
    background-color: #218838;
}

.section {
    background-color: #e3f2fd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"], .call-btn {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button[type="submit"]:hover, .call-btn:hover {
    background-color: #218838;
}

.call-btn {
    margin-left: 10px;
    font-size: 0.9em;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    text-align: justify;
}

#login .modal-content {
    max-width: 350px;
    text-align: center;
}

.legal-modal-content {
    max-width: 450px;
    background-color: #222;
    color: white;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 30px;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(255 255 255 / 0.4);
    position: relative;
    margin: auto;
}

.legal-modal-content h2 {
    font-weight: 900;
    color: #fff;
    margin-bottom: 15px;
}

.legal-modal-content p {
    padding: 5px 0;
}

.legal-modal-content label {
    font-weight: 900;
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#accept-legal {
    margin-top: 15px;
    background-color: #ff6a00 !important;
    width: 100%;
    color: white;
    font-weight: 900;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#accept-legal:disabled {
    background-color: #b77200 !important;
    cursor: not-allowed;
}